<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Projeto Web II</title>
	</head>
	<body>
		<h1>Projeto da Disciplina Desenvolvimento De Sistemas Web II</h1>
		<label>Search Movie By Id:</label>
		<input type="text" id="idMovie"/>
		<a href='' onclick="this.href='/movie/'+document.getElementById('idMovie').value">Search</a>
		<br>
		<br>
		<form action="#" th:action="@{/movie/search}" th:object="${movie}"method="post">
			<label>Title:</label>
			<input type="text" th:field="*{title}" name="title"/>
			<label>Director:</label>
			<input type="text" th:field="*{director}" name="director"/>
			<label>Gender:</label>
			<input type="text" th:field="*{gender}" name="gender"/>
			<button>Search</button>			
		</form>
		<br>
		<br>
		<a href = "/movie/all">Show All Movies</a>
		<br>
		<br>
		<br>
	</body>
</html>