<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Projeto Web II</title>
	</head>
	<body>
		<h1>Projeto da Disciplina Desenvolvimento De Sistemas Web II</h1>
		<form action="#" th:action="@{/movie/id}" method="post">
			<h4>Search Movie By Id</h4>
			<label>Id:</label>
			<input type="text" name="id"/>
			<input type="submit" value="Search"/>
		</form>
		<br>
		<br>
		<form action="#" th:action="@{/movie/search}" method="post">
			<h4>Search Movie By Title, Director Or Gender</h4>
			<label>Title:</label>
			<input type="text" name="title"/>
			<label>Director:</label>
			<input type="text" name="director"/>
			<label>Gender:</label>
			<input type="text" name="gender"/>
			<input type="submit" value="Search"/>	
		</form>
		<br>
		<br>
		<a href = "/movie/all">Show All Movies</a>
		<br>
		<br>
		<br>
	</body>
</html>