<!DOCTYPE html>

<html>

	<head>
		<style>
			table, th, td {
	  		border: 1px solid black;
	  		border-collapse: collapse;
			}
		</style>
		<meta charset="UTF-8">
		<title>TV Series List</title>
	</head>
	<body>
		<h1>TV Series List</h1>
		<div>
		<div>
			<table>
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Overview</th>
						<th scope="col">First Air Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="series : ${tvseries}">
						<td><p th:text="${series.original_name}" /></td>
						<td><p th:text="${series.overview}" /></td>
						<td><p th:text="${series.first_air_date}" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</body>
</html>