<!DOCTYPE html>

<html>

	<head>
		<style>
			table, th, td {
	  		border: 1px solid black;
	  		border-collapse: collapse;
			}
		</style>
		<meta charset="UTF-8">
		<title>Movie List</title>
	</head>
	<body>
		<h1>Movie List</h1>
		<div>
		<div>
			<table>
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Director</th>
						<th scope="col">Writer</th>
						<th scope="col">Gender</th>
						<th scope="col">Release Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="movie : ${movies}">
						<td><p th:text="${movie.title}" /></td>
						<td><p th:text="${movie.director}" /></td>
						<td><p th:text="${movie.writer}" /></td>
						<td><p th:text="${movie.gender}" /></td>
						<td><p th:text="${movie.release_date}" /></td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</body>
</html>